{% extends 'librarian/base.html' %}
{% block content %}



<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Student Name</td>
            <td>Roll Number</td>
            <td>Branch</td>
            <td>Total Books due</td>
            <td>Email</td>
            <td>Contact Number</td>
            <!-- <td>
                <a href="{% url 'student-create' %}" class="btn text-secondary px-0">
                    <i class="fas fa-plus"></i> Add Student
                </a>
            </td> -->
        </tr>
    </thead>
    <tbody id="myTable">
        {% for s in students %}
            <tr>
                <td><a class="article-title" href="{% url 'student-detail' pk=s.id %}">{{ s.name }}</a></td>
                <td>{{ s.roll_no }}</td>
                <td>{{ s.branch }}</td>
                <td>{{ s.total_books_due }}</td>
                <td>{{ s.email }}</td>
                <td>{{ s.contact_no }}</td>
                <td>
                    <a href="{% url 'student-update' pk=s.id %}" class="btn text-secondary px-0">Edit
                    </a>
                </td>
                <td>
                    <a class="btn text-secondary px-0" href="{% url 'student-delete' pk=s.id %}">Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}